input::placeholder 
{
    color: black;
    padding: 8px;
}

.searchbars
{
    margin-right: 1rem;
    border-radius: 25px;
    border: solid 1px ;
}

body{
    font-family: 'Montserrat', sans-serif;
}

  .content-container {
    position: relative;
    margin-top: 5%; 
    margin-inline-start: 1vw;
}
